<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">

    <link rel="stylesheet" href="js/slick/slick.css">
    <link rel="stylesheet" href="js/slick/slick-theme.css">
    <title>Registro Mascota | I love pet</title>
    <link rel="icon" href="Imagenes/heart-icon_34407.ico"> 
</head>


<body>
    <header class="header">
        <div class="container l-nav-container">
            <div class="logo">
                <img src="imagenes/Logo-I-love-Pet.png" width="100%" opacity=".1">
            </div>
            <span class="icon-menu">
                <i class="fas fa-align-justify"></i>
            </span>
            <nav class="navegacion">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="Galery.html">Galeria</a></li>
                    <a class="abrir-modal" id="abrirM">Iniciar Sesión</a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="registromascota">

        <form action="RegistroMascota.html" method="POST" class="form-formulario" id="form" name="form">

            <h3 class="datosclientes">Datos Mascota:</h3>

            <div class="container I-formmascota-container">

                <Select id="tipoid" class="input-x" name="tipoid">
                    <option selected>Interno</option>
                    <option>Externo</option>
                </Select>

                <Select id="especie" class="input-x">
                    <option selected> --Tipo Mascota</option>
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                    <option value="roedor">Roedor</option>
                    <option value="ave">Ave</option>
                    <option value="pez">Pez</option>
                    <option value="reptil">Reptil</option>
                    <option value="anfibio">Anfibio</option>
                </Select>

                <input type="text" class="input-n" required maxlength="255" placeholder="Nombre" id="nombre" name="nombre">

                <Select id="sexo" class="input-x">
                    <option selected> --Seleccionar Sexo</option>
                    <option value="macho">Macho</option>
                    <option value="hembra">Hembra</option>
                </Select>

                <input type="date" class="input-n" value="Fecha Nacimiento" required>

                <Select id="raza" class="input-x">
                    <option selected> -- Seleccionar Raza</option>
                    <option value="raza1"></option>
                    <option value="raza2"></option>
                </Select>

                <Select id="color" class="input-x">
                    <option selected>--Seleccionar Color</option>
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                </Select>

                <Select id="patron" class="input-x">
                    <option selected> --Seleccionar Patron</option>
                    <option value="patron1"></option>
                    <option value="patron2"></option>
                </Select>

                <input type="text" class="input-n" required maxlength="255" placeholder="MicroChip" id="microchip">

                <Select id="tamanio" class="input-x">
                    <option selected>--Seleccione Tamaño</option>
                    <option>Grande</option>
                    <option>Mediano</option>
                    <option>Pequeño</option>
                </Select>

                <div>
                    <a href="">
                        <p>Descargar Comprobante Microchip <br></p>
                    </a>
                </div>

                <div>
                    <label>CERT. EXISTENCIA:</label>
                    <input type="file" class="input-w">
                </div>

                <div class="radio">
                    <label>ESTERILIZADO:</label>
                    <input type="radio" name="esterilizado" id="Si">Si
                    <input type="radio" name="esterilizado" id="No">No
                </div>

                <Select id="tenencia" class="input-x">
                    <option selected>Seleccione Razon de tenencia</option>
                </Select>


                <Select id="obtencion " class="input-x">
                    <option selected>Seleccione Modo de obtencion</option>
                </Select>

                <label>CALIDAD RESPONSABLE:</label>
                <input type="file" class="input-48" placeholder="Calidad Responsable">

                <div>
                    <a href="">
                        <p>Descargar Declaración <br></p>
                    </a>
                </div>

                <label>SUBIR FOTO:</label>
                <input type="file" class="input-48" placeholder="Subir Foto">



                <h3 class="direccionmascota">Dirección Mascota:</h3>


                <div class="direccion">
                    <div>
                        ¿Su mascota tiene residencia en _____________________________?
                        <input type="radio" name="direccion" id="si">Si
                        <input type="radio" name="direccion" id="no">No
                    </div>
                    <button>GUARDAR</button>
                </div>


                <div class="clear"></div>

                <div class="agregar-mascota">
                    <div class="agregar">
                        ¿Desea agregar otra mascota?
                        <button>CONTINUAR</button>
                    </div>
                    <div class="fin">
                        <button>FINALIZAR</button>
                    </div>
                </div>
            </div>

        </form>
    </section>




    <footer class="footer">

        <div class="container">
            <div class="container-total">

                <div class="columna1">
                    <h2>Más información de la clínica</h2>
                    <p>Todo pensado para que, tanto usted como su mascota se sientan cómodos y
                        bien atendidos como sea posible..</p>

                </div>

                <div class="columna2">
                    <h2>Redes Sociales</h2>

                    <div class="row">
                        <a class="iconS">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <label>Síguenos en Facebook </label>
                    </div>

                    <div class="row">
                        <a class="iconS">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <label>Síguenos en Instagram </label>
                    </div>

                    <div class="row">
                        <a class="iconS">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <label>Síguenos en Twitter</label>
                    </div>
                </div>

                <div class="columna3">
                    <h2>Contacto</h2>

                    <div class="rowC">
                        <a class="iconC">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                        <label href="">Sucursales</label>
                    </div>

                    <div class="rowC">
                        <a class="iconC">
                            <i class="far fa-envelope-open"></i>
                        </a>
                        <label>contacto@ilovepet.guau</label>
                    </div>

                    <div class="rowC">
                        <a class="iconC">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <label>666666666</label>
                    </div>

                </div>


            </div>

        </div>
        <div class="container-copy">
            <div class="copyright">
                <p>© Copyright 2019 · BD-Thos</p>
            </div>
        </div>
    </footer>

    <div class="overlay" id="overlay">
        <div class="modal" id="modal">
            <a href="" id="cerar-modal" class="cerrar-modal"><i class="fas fa-times"></i></a>
            <h3 class="iniciar">INICIAR SESIÓN</h3>
            <form action="">
                <div class="container-input">
                    <input type="email" placeholder="Correo Electrónico">
                    <input type="password" placeholder="Contraseña">
                </div>
                <input type="submit" class="btn-iniciar" value="Iniciar Sesión">
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/bf88a16619.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/slick/slick.min.js"></script>
    <script>
        $(".slideshow").slick({
            dots: true,
            fade: true,
            autoplay: true
        });


    </script>



</body>

</html>